@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul,
li {
    list-style: none;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-family: "고딕";
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    margin: 0 auto;
    height: 100px;


}

.head_inner {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.nav {
    align-self: flex-end;
    margin-right: 10px;
}

.main {
    display: flex;
}

.main>li {
    width: 150px;
    flex: 1 1 200px;
    position: relative;
}

.main>li>a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.main>li:hover>a {
    background-color: pink;

}


.sub {
    height: 160px;
    background-color: yellowgreen;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 50;
    display: none;
}

.sub li a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.sub li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sub_bg {
    width: 1200px;
    height: 170px;
    background-color: yellowgreen;
    top: 100px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    z-index: 40;
    display: none;
}

#container {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.img_slide {
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.top_move {
    position: absolute;
    top: 0;
    left: 0;
}

.top_move li {
    width: 1200px;
    height: 300px;
}

.top_move li a {}

.top_move li a img {}


.contents {
    display: flex;
    justify-content: space-between;
}

.contents ul{
    border-top: 1px solid skyblue;

}
.contents h2{
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px lightblue;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 20px;

}

.contents>div {
    width: 390px;
    height: 200px;
    /* background-color: skyblue; */
}


.notice {}



.notice ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notice ul li {
    border-bottom: 1px dotted gray;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

}

.notice ul li a {
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.notice ul li span {
    text-align: right;
    width: 30%;
}


.gallery {
    width: 100%;
    height: 200px;
}



.gallery ul {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery ul li {}

.gallery ul li a {}


.baro {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer{
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
}

.foot_inner{
    width: 1200px;
    height: 100px;
    /* background-color: #ff9; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy{
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
}

.fright{
    height: 100%;
}

.sns{
    height: 50%;
    margin-right: 30px;
}

.sns a{
    display: inline-block;
    width: 47px;
    height: 47px;
    background-image: url(../images/sns.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 2px 0 0 10px;
}

.sns a.sns_f{
    background-position: -93px -17px;
}
.sns a.sns_i{
    background-position: -22px -17px;
}
.sns a.sns_t{
    background-position: -164px -17px;
}
.sns a.sns_k{
    background-position: -164px -101px;
}

.family{
    padding-right: 18px;
    /* border: 1px solid red; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.family select{
    height: 30px;
    width: 120px;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 60;
    display: none;
}

.pop{
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: lightcyan;
    border: 5px solid lightblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 70;
    display: none;
}

.pop h3{
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
    line-height: 3;
    color: #233;
    font-weight: bold;
}

.pop p{
    font-size: 14px;
    text-align: justify;
    line-height: 1.7;
}

.pop p::first-letter{
    font-size: 30px;
    color: blue;
    font-weight: bold;
}

.close{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 3px solid black;
    cursor: pointer;
    padding: 5px 10px;
    background-color: lightcyan;
}

.close:hover{
    text-decoration: underline;
    background-color: gray;
    border: 3px solid lightblue;
    color: lightcyan;
}